/*==================================
    GENERAL STYLES
==================================*/

*{
    box-sizing:border-box
}

*:focus{
    outline:none !important
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

html{
    scroll-behavior:smooth
}

.mx-auto{
    display:block
}

a:hover{
    text-decoration:none;
    color:inheret
}

h1,h2,h3,h4,h5,h6{
    font-family:"Roboto";
    font-weight:700;
    color: #fff;
    font-size: 1.4em;
}

.spacing{
    margin-top:4rem;
    margin-bottom:4rem
}

p {
    font-family: 'Montserrat';
}

.gbg {
    background: #5c6395; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #5c6395 0%, #1c2858 41%, #5c6395 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #5c6395 0%,#1c2858 41%,#5c6395 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #5c6395 0%,#1c2858 41%,#5c6395 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6395', endColorstr='#5c6395',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.homeIntro {
    color: #fff;
    padding: 4rem;
}

.mapI {
    padding: 0;
    padding: 15px;
    color: #fff;
}

.mapRow {
    margin-bottom: 4rem;
}

/*==================================
    IMGLINKS HOME STYLES
==================================*/

.imgLinks .item {
    border: 2px solid #fff;
    min-height: 200px;
    overflow: hidden;
    width: 100%;
    padding: 0;
    position: relative;
}

.imgLinks .item a {
    display:block;
    background-image: url('../img/kawasaki-ninja.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s ease;
    height: 100%;
    width: 100%;
    min-height: 200px;
    padding-top: 95px;
    text-align: center;
    font-family: Roboto;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    position: relative;
    z-index: 9;
}

.imgLinks .item a:after {
    background: rgba(0,0,0,0.69);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: 0.5s ease;
}

.imgLinks .item:hover a:after {
    background: rgba(0,0,0,0.55);
}

.imgLinks .item:hover a {
    transform: scale(1.06);
}

.imgLinks .item p {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    z-index: 10;
    color: #fff;
    font-family: Roboto;
    font-size: 2em;
    transform: translate(-50%,-50%);
}

.imgLinks .item.scooter a {
    background-image: url('../img/scooter-img.jpg');
}

.imgLinks .item.clothing a {
    background-image: url('../img/clothingBanner.jpg');
}

.imgLinks .item.helmet a {
    background-image: url('../img/helmet-image.jpg');
}

.imgLinks .item.tool a {
    background-image: url('../img/tools-image.jpg');
}

.imgLinks .item.training a {
    background-image: url('../img/training-image.jpg');
}

/*==================================
    SWIPER HOME STYLES
==================================*/

.swiperMaster {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #131313;
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 80vh;
    background: #f4f4f4;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/kawasaki-ninja.jpg');
  }

    .swiperSlide1 {
        background-image: url("../img/banner1.jpg");
    }
    .swiperSlide2 {
        background-image: url("../img/banner5.jpg");
    }
    .swiperSlide3 {
        background-image: url("../img/banner3.jpg");
    }
    .swiperSlide4 {
        background-image: url("../img/banner4.jpg");
    }
    .swiperSlide5 {
        background-image: url("../img/banner2.jpg");
    }
    .swiperSlide6 {
        background-image: url("../img/banner6.jpg");
    }
    .swiperSlide7 {
        background-image: url("../img/banner7.jpg");
    }

  .swiperSlideInner {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      widtH: 100%;
      z-index: 2;
      padding-top: 100px;
  }

  .swiperSlideInner .container,
  .swiperSlideInner .container .row {
      height: 100%;
  }

  .swiperSlideInner:after {
      position: absolute;
      content:"";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.69);
      z-index: 1;
  }

  .swiperText {
      padding-top: 50%;
      transform: translate(0,-50%);
      color: #fff;
      z-index: 9;
      text-align: left;
  }

  .swiperText p {
      font-size: 14px;
      margin-top: 15px;
  }

  .promo {
      background: #fff;
      border-radius: 50%;
      width: 160px;
      height: 160px;
      z-index: 2;
      position: absolute;
      bottom: 150px;
      right: 15px;
  }

  .promo h2 {
      padding-top: 20px;
      color: #000;
  }

  .promo a {
      background: #1c2858;
      color: #fff;
      padding: 5px 15px;
      transition: 0.5s ease;
  }

  .promo a:hover {
      opacity: 0.7;
      color: #fff;
      text-decoration: none;
  }
  
/*==================================
    SERVICES STYLES
==================================*/

.services {
    color: #fff;
    padding-top:4rem;
    padding-bottom: 4rem;
}

.services .service {
    padding: 20px 15px;
    border-radius: 15px;
    margin: 5px 0;
    transition: 0.5s ease;
}

.services h2 {
    color: #fff;
}

/*==================================
    MOTORBIKE BANNER
==================================*/

.motorbikeBanner {
    background-image: url('../img/banner4.jpg');
    height: 40vh;
    width:100%;
    background-attachment: fixed;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.motorbikeBanner:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.59);
    z-index: 2;
    top:0;
    left: 0;
}

.motorbikeBanner .container {
    position: relative;
    height: 100%;
    z-index: 3;
}

.motorbikeBanner .container .row {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.motorbikeBanner h1 {
    color: #fff;
    margin-bottom: 2px;
}

.motorbikeBanner p {
    color: #fff;
    margin-bottom: 25px;
}

/*==================================
    MOTORBIKE PAGE STYLES
==================================*/

.single {
    padding: 15px;
}

.bikeGallery {
    margin-bottom: 50px;
    position: relative;
    padding: 15px;
}

  .bikeGallery img {
    display: block;
    max-width: 100%;
    position: relative; 
    z-index: -2;
  }

  .bikeGallery .bikeImage {
      position: relative;
  }

  .bikeGallery .bikeImage .brandLogo {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      transform: translate(0,-20%);
      opacity: 0.3;
      transition: 0.5s ease;
      max-width: 100px;
  }

  .bikeGallery .bikeImage:hover .brandLogo {
    opacity: 0.9;
  }

  .bikeGallery h3 {
      display: block;
      padding: 5px;
      color: #1c2858;
      font-weight: 700;
      z-index: 2;
      margin-top: 15px;
      margin-bottom: 0;
  }

  .motorbikeParallax {
    height: 400px;
    background-attachment: fixed;
    width:100%;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.motorbikeParallax:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.69);
    content: "";
    z-index: 1;
}

.bikeRRP, .tragoPrice {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 0;
}

.bikeRRP {
    font-size: 22px;
    z-index: 3;
    text-align: right;
}

.gallLink {
    float: right;
    display: block;
    width: 120px;
    background: #1c2858;
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-weight: 700;
    margin-top: 15px;
    transition: 0.5s ease;
    padding: 5px 0;
}

.gallLink:hover {
    background: #5c6395;
    color: #fff;
    text-decoration: none;
}

ul.bikeInfo {
    padding: 0;
    margin: 25px 0;
    list-style-type: none;
    max-width: 600px;
    display: block;
}

ul.bikeInfo li {
    padding: 2px 5px;
    font-family: Montserrat;
}

ul.bikeInfo li:nth-child(even) {
    background: #eee;
}

ul.bikeInfo li span {
    font-weight: bold;
    float: right;
}

/*==================================
    FOOTER STYLES
==================================*/

  .footer {
      background: #1c2858;
      color: #fff;
      padding-top:15px;
      padding-bottom: 15px;
  }

  .footer .socials, .footer .policies {
      padding: 5px 0;
      margin: 0;
      list-style-type: none;
  }

  .footer .socials li, .footer .policies li {
      display: inline-block;
      padding-right: 10px;
  }

  .footer .policies li a, .tel a {
      color: #fff;
  }

  .footer .policies li a:hover, .tel a:hover {
    color: #dfd9e2;
    text-decoration: none;
}

/*==================================
    FOOTER FORM STYLES
==================================*/

h2.formTitle {
    text-align: right;
}
#mc_embed_signup_scroll input {
    width: 50%;
    min-width: 280px;
    margin-top: 5px;
    border: none;
    padding: 5px;
    font-family: Roboto;
    float: right;
    display: block;
    background: #e8e9f3;
    transition: 0.5s ease;
}

#mc_embed_signup_scroll input:focus {
    background: #fff;
    color: #000;
}

#mc_embed_signup_scroll #mc-embedded-subscribe {
    background: #5c6395;
    color: #fff;
    font-weight: 700;
    transition: 0.5s ease;
}

#mc_embed_signup_scroll #mc-embedded-subscribe:hover {
    background: #dfd9e2;
    color: #272635;
}

/*==================================
    NAVBAR STYLES
==================================*/

    .headroom-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
    }

    body .navbar-fixed-top {
        width: 100%;
    }

    nav.navbar {
        box-shadow: 5px 0px 10px rgba(0,0,0,0.69);
    }
    body .navbar-light .navbar-nav .nav-link {
        font-family: Roboto;
        color: #fff;
    }
    body .navbar-light .navbar-nav .active > .nav-link {
        color: #e8e9f3;        
    }
    body .navbar-light .navbar-nav .nav-link:hover {
        color: #dfd9e2;
    }

/*==================================
    RIDEOUT HOME STYLES
==================================*/

.rideoutHome {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/banner4.jpg');
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1;
    background-attachment: fixed;
}

.rideoutHome:after {
    position: absolute;
    content: "";
    background: #1c2858; /* Old browsers */
    background: -moz-linear-gradient(left, #1c2858 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1c2858 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1c2858 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2858', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.69;
    z-index: 2;
}

.rideoutHome .container {
    position: relative;
    z-index: 3;
}

.rideoutHome h2 {
    color: #fff;
}

.rideoutHome p {
    color: #000;
}

.event-item {
    margin: 15px;
    background: rgba(255,255,255,0.9);
    min-height: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.6);
}

.event-item .imageSection {
    position: relative;
}

.event-item .imageSection:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    transition: 0.5s ease;
}


.event-item:hover .imageSection:after {
    background: rgba(0,0,0,0.8);
}


.event-item .imageSection h2 {
    position:absolute;
    bottom: 15px;
    left: 15px;
    z-index: 2;
}

a.eventLink {
    background: #1c2858;
    color: #fff;
    padding: 10px 25px;
    font-family: 'Montserrat';
    transition: 0.5s ease;
}

a.eventLink.big {
    font-size: 1.4em;
    padding: 15px 50px;
}

a.eventLink:hover {
    background: #5c6395;
    text-decoration: none;
    color: #fff;
}
